body {
    background: #333;
    font-family: Calibri, Arial, sans-serif;
    font-size: 100%;
    margin: 0; /* keep this */
}

header {
    background: #333;
    top: 0;
    position: fixed;
    width: 100%;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    font-size: 300%;
    margin: 0;
    float: left;
    padding: 10px;
}

nav {
    float: right;
    padding-right: 20px; 
}

nav ul{
    list-style: none;
    margin: 0;
}

nav li {
    float: left;
    margin-right: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 100%;

}


article {
    width: 50%;
    padding: 70px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 40%;
}


h2 {
    text-align: left;
    padding-top: 70px;
    font-size: 50px;
    margin: auto;
    float: left;  
    padding-left: 20px;
    padding-bottom: 15px;
}

#cougar > p, #lion > p, #tiger > p {
    text-align: center;
}

div {
    float: left;
    width: 50%;
    padding-left: 20px;
}


img {
    display: block;
    margin: auto;
}

#cougar {
     background: #b26219;
     padding-bottom: 40px; 
}

#lion {
    background: #ffbd82;
    padding-bottom: 40px; 

}

#tiger {
    background: #ffd5ae;
    padding-bottom: 40px; 

}

footer {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 150%;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
